* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  background-color: white;
  font-family: "Montserrat", Sans-serif;
  padding-top: 25px;
}
.arc-logo {
  height: 60px;
  margin-left: 140px;
}

.header {
  display: flex;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  padding: 10px;
  top: 0px;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1111;
}

nav {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 130px;
  height: 25px;
}

nav button {
  border: 1px none black ;
  margin-left: 50px;
  background-color: rgb(120, 251, 183);
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  transition: background-color 0.3s,color 0.3s;
}
nav button:hover {
  background-color: white;
  color: rgb(120, 251, 183);
}
nav li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}
nav li:hover a {
  color: green;
}
nav li {
  list-style: none;
  font-size: 11px;
  font-weight: bold;
}

.header-video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  
  object-position: center;
}

.video-container {
  position: relative;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.text p {
  width: 90vw;
  font-family: "Montserrat", Sans-serif;
  font-weight: 400;
  font-style: normal;
  
  color: white;
  letter-spacing: 6px;
  font-size: 40px;
  font-weight: bold;
}

.main-animation-image {
  height: 200px;
}

.text {
  opacity: 0;
  text-align: center;
  transform: translatey(30px);
  position: absolute;
  animation: pop 12s ease infinite;
}

.text:nth-child(1) { animation-delay: 0s;}
.text:nth-child(2) { animation-delay: 4s;}
.text:nth-child(3) { animation-delay: 8s;}

@keyframes pop {
  0%,100% { opacity: 0;
  transform: translatey(30px);
  }
  8% { opacity: 1; transform: translateY(0);}
  18% { opacity: 1; transform: translateY(0);}
  25% { opacity: 0; transform: translateY(30px);}
}

.wrapper {
  display: grid;
  background-color: #0E1E2F;
  justify-content: center;
  align-items:start;
  grid-template-columns:400px 500px;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "box-1 box-2"
  "box-3 box-3";
  gap: 10px;
  color: white;
  padding-bottom: 2rem;
}

.arcon-about-image {
  opacity: 0.7;
  /* transform: translateX(-20%); */
}
.box:nth-child(2) {
  position: relative;
}
.box {
 
}

#about {
 
  background-color: #0E1E2F;
}

.horizontal-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-bottom: 2em;
  
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}
.group {
  display: flex;
  width: 100%;
  animation: scroll-Animation 50s linear infinite;
}

.card-image
{
  height: 35px;
  padding-left: 2rem;
}

@keyframes scroll-Animation {
  from { transform: translateX(0);}
  to { transform: translateX(-100%);}
}

.client-title {
  text-align: center;
  padding: 2em;
}
.About-title {
  padding-bottom: 1em;
}
.client-title,.About-title {
  font-size: 1.6em;
  padding-top: 2em;
  font-weight: bold;
  background: linear-gradient(to top,rgb(92, 255, 222),rgb(34, 42, 88));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box p:nth-child(2) {
  font-size: 0.7rem;
  font-weight: 700;
  
}


/* corousel wrapper and grid templates */
.carousel-wrapper {
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}
.about-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card p:nth-child(2) {
  width: 80%;
  padding-bottom: 1em;
  font-size: 1.2rem;
  text-align: center;
  margin: 0.5em 0.5em;
  border-width: 0 0 2px;
  border-style: solid;
  border-collapse: collapse;
  border-color: aquamarine;
}

.card p:nth-child(3) {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 400;
  padding: 1rem;
}

.box:nth-child(2) {
  position: relative;
}
.gradient-layer {
  position: absolute;
  background-color: black;
}